:root{
    --border-color:rgb(45, 42, 42);
    --theme-color:red;
    --dark--theme--color:#111;
}
*{
    font-family: 'Merriweather', serif;
    font-family: 'Nabla', cursive;
    font-family: 'Noto Sans JP ', sans-serif;
}
 
html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
header,.auth-elements,.header-elements, footer, .footer-categories, .social-handles{
    display: flex;
    gap: 1rem;
}

header{
    width: 100%;
    height: 4.5rem;
    padding: 1rem 2.5rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
    align-items: center;
    justify-content: space-between;
    background-color:var(--dark--theme--color);
   }

.options{
           background-color: var(--theme-color);
           color: #fff;
           font-weight: 600;
   }

#main{
    padding: 0 2.5rem;
    margin-top: 1rem;
   }
#logo,.logo{
    font-family: 'nabla', cursive;
    font-family: 'Noto Sans JP',sans-serif;
    font-weight: 900;
    font-size: 1.9rem;
    color: var(--theme-color);
   }
header>*{
    padding: 1rem;
}
.header-elements{
    width: 50%;
    margin-left: 3rem;
}
.categories{
    border-style: none;
    background-color: var(--dark--theme--color);
    color: #fff;
}
.auth-elements{
    margin-left: auto;
    margin-right: 5rem;
}
#search-input{
    width: 70%;
    height: 2.5rem;
    border-radius: 1rem;
    border-style: none;
    border: 2px solid var(--border-color)
}
.btn{
    min-width: none;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    border: none;
    background-color: var(--theme-color);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
.display-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.display-image{
    height: 25rem;
    object-fit: cover;
    width: 100%;
}
.categories-main{
display: flex;
flex-wrap: wrap;
gap: 1rem;
margin-top: 2.2rem;
margin-bottom: 2.2rem;
}
.category-image-container{
    width: 49%;
    position: relative;
}
.category{
    width: 100%;
    height: 20rem;
    border-radius: 8px;
    object-fit: cover;
    filter:brightness(50%);
}
.categories-btn{
    position: absolute;
    top: 78%;
    left: 40%;
    min-width: 7rem;
    padding: 0.7rem;
}

footer{
    height: 12rem;
    flex-direction: column;
    background-color:var(--dark--theme--color);
    padding: 0 2.5rem;

}
.footer-categories{
    width: 100%;
    color: #fff;
    justify-content: center;
    margin-top: 1rem;
}
.social-handles{
    flex-direction: row;
    border-top: 1px solid var(--border-color);
    padding-top: 1.5rem;
    justify-content: space-between;
}
.icon{
    margin: 0 0.5rem;
}